@import "../../../main";


.registration
{

  .registration-content
  {
    min-width: 745px;
    background: $color-main-cold;
    margin-bottom: 130px;
    margin-top: 30px;

    h2
    {
      color: $color-main-warm;
    }

    form
    {
      input
      {
        width: 300px;
      }
    }
  }

  label
  {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 75%;
    margin-bottom: 20px;
    margin-left: 50px;
    text-align: left;
  }

  p
  {
    max-width: 100%;
    @include flex-center;
    color: $color-main-warm;
    font-family: $font-base;
    font-weight: 500;
    font-size: 1.2rem;
    margin: auto;
  }

  .registration-content-form
  {
    padding: 30px 0;

    .registration-content-form-sections
    {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      height: 100%;
      flex-direction: column;
      position: relative;

      .big-x2
      {
        font-size: 3rem;
        font-weight: 400;
      }

      .big-x1
      {
        font-size: 2rem;
        font-weight: 400;
      }

      .agreements
      {
        @include flex-center;

        .registration-content-form-sections-left
        {
          width: 75%;
          margin-left: 0;
        }

        p
        {
          color: $color-main-warm;
          font-family: $font-base;
          font-size: 1.5rem;
          font-weight: 600;
          text-align: left;
        }

        //niestandardowe pole wyboru checkbox - custom checkbox
        input
        {
          display: none;
        }

        input + label span
        {
          display: inline-block;
          min-width: 30px;
          min-height: 30px;
          border: 1px solid $color-dark;
          margin-right: 20px;
          margin-left: 5px;
          cursor: pointer;
          background: $color-background;

          &:hover
          {
            background: $color-light-warm;
          }
        }

        input:checked + label span
        {
          background: url("/assets/checked.png") center/cover no-repeat,  $color-background;
          background-size: 90%;
        }
        //
      }
    }
  }

  .form-error
  {
    padding-left: calc(75% + 50px - 320px);
  }
}