@import "../../../../main";
@import "./../basket";

.basket-step-1
{

  .basket-container
  {
    @include basket-container;
  }

  .basket-table-products-content
  {

    tbody
    {
      tr:nth-child(even)
      {
        background-color: rgba($color-light-cold, 0.05);
      }
      tr:nth-child(odd)
      {
        background-color: rgba($color-light-cold, 0.2);
      }
    }

  }

  div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .basket-table-summary
    {
      .basket-table-summary-content {

        tbody {

          .basket-table-summary-result {
            width: 35vh;
          }
        }

        tr:nth-child(even) {
          background-color: rgba($color-light-cold, 0.4);
        }

        tr:nth-child(odd) {
          background-color: rgba($color-light-cold, 0.7);
        }

      }
    }

    .basket-step-1-delivery {
      color: $color-dark-cold;
      font-family: $font-base;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 2.5rem;
      display: flex;
      flex-direction: column;
      justify-self: center;
      align-items: flex-start;
      padding: 50px 0 0 50px;

      p {
        font-size: 1.3rem;
        font-weight: 600;
        padding-bottom: 5px;
      }

      label {
        display: block;
        position: relative;
        user-select: none;
        cursor: pointer;
        padding-left: 30px;

        input {
          display: none;
        }

        .custom-radio {
          position: absolute;
          top: 8px;
          left: 0;
          height: 20px;
          width: 20px;
          border: 3px solid $color-main-cold;
          background-color: $color-background;
          border-radius: 50%;
        }

      }

      label:hover input ~ .custom-radio {
        background-color: $color-light-warm;
      }

      label input:checked ~ .custom-radio {
        background-color: $color-light-cold;
      }

    }

    @include basket-info;
  }
}
