@import "../../../../main";

nav
{
  height: 45px;
  background: $color-main-cold;
  .nav-menu
  {
    height: 100%;
    @include flex-center;

    li
    {
      @include flex-center;
      padding: 0 20px;
      font-size: 1.2rem;
      color: $color-main-warm;
      font-weight: 600;
      height: 100%;
      cursor: pointer;

      &:hover
      {
        color: $color-main-cold;
        background: $color-main-warm;
      }
    }
  }
}