@import "../../../../main";
@import "./../_basket.scss";

.basket-step-3
{
  height: calc(99vh - 237px);
  width: 100%;

  .basket-container
  {
    @include basket-container;
    height: calc(99vh - 237px - 110px);
    align-items: flex-end;
  }

  table
  {
    color: $color-dark-cold;
    font-family: $font-base;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 40px;

    thead
    {
      font-size: 1.3rem;
      font-weight: 600;
    }

    tbody
    {

      tr
      {
        border: 2px solid $color-main-cold;

        th,
        td
        {
          padding: 5px;
          vertical-align: middle;
          text-align: center;
        }
      }
    }

  }

  .basket-step-3-products
  {
    margin: 50px -2px 0 -2px;
    width: 100%;
    min-width: 535px;

    tbody
    {
      img
      {
        width: 40px;
        height: 40px;
        vertical-align: middle;
      }

      i
      {
        cursor: pointer;

        &:hover
        {
          color: $color-main-warm;
        }
      }

    }

    .product-col-s
    {
      width: 5%;
    }

    .product-col-m
    {
      width: 10%;
    }

    .product-col-l
    {
      width: 40%;
      padding-left: 10px;
      text-align: left;
    }
  }

  .basket-step-3-summary
  {
    width: 45%;
    margin: -2px -3px 20px 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    tbody
    {
      width: 80%;
      min-width: 360px;

      .basket-step-3-summary-header
      {
        text-align: left;
        padding-left: 20px;
        width: 65vh;
      }
      .basket-step-3-summary-content
      {
        width: 15vh;
      }

      .total
      {
        font-size: 1.4rem;
        font-weight: 600;
      }
    }

    td
    {
      text-align: left;
      width: 20%;
    }
  }



}