@import "../../../main";


.lar-welcome-btns
{
  height: 430px;
  width: 60%;
  background: $color-main-cold;
  @include flex-center;
  margin-bottom: 80px;

  .lar-welcome-btns-content
  {
    height: 60vh;
    @include flex-center;

    h2
    {
      text-transform: uppercase;
      color: $color-background;
      padding: 0;
    }

    .lar-content-form-btns
    {
      width: 60%;
      bottom: 30px;

      a{
        height: 50px;
        width: 300px;
      }
    }
  }
}



