@import "../../../../main";

.carousel
{
  @include flex-center;
  width: 100%;
  margin: 50px 0;
  height: 400px;

  .carousel-cont
  {
    width: 100%;
    @include flex-center;

    ul
    {
      width: 100%;
      @include flex-center;
      position: relative;

      li
      {
        height: 100%;
        width: 100%;
        position: absolute;
        box-shadow: $shadow-slide;
        -moz-box-shadow: $shadow-slide;
        -webkit-box-shadow: $shadow-slide;
      }
    }

    .visible-slide
    {
      display: inline-block;
      height: 400px;
      width: 600px;
      z-index: 1;
      font-size: 1.3rem;
    }

    .small-slide-left,
    .small-slide-right
    {
      height: 250px;
      width: 350px;
      margin: 0 100px;
      font-size: 0.8rem;
    }

    .small-slide-right
    {
      right: 0;
    }
    .small-slide-left
    {
      left: 0;
    }

    .hidden
    {
      display: none;
    }

    .carousel-slide
    {
      display: inline-block;
      height: 100%;
      width: 100%;
    }

    .slide-0
    {
      .carousel-slide-background
      {
        @include flex-center;
        height: 100%;
        width: 100%;
        background: $color-main-cold;

        .carousel-slide-content
        {
          @include flex-center;
          background: $color-main-cold;
          height: 75%;
          width: 83%;
          border: 0.55em solid $color-main-warm;
          padding: 9%;
          color: $color-main-warm;
          font-weight: 600;
          text-align: center;
          line-height: 1.5;
        }
      }
    }

    .slide-1
    {
      background: url("/assets/carousel2.jpg") center/cover;
    }

    .slide-2
    {
      background: url("/assets/contact.jpg") center/cover;
    }

    .slide-3
    {
      background: url("/assets/carousel1.jpg") center/cover;
    }

    .carousel-btns
    {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      i
      {
        color: $color-light-cold;
        cursor: pointer;

        &:hover
        {
          color: $color-main-cold;
        }
      }
    }
  }
}