@import "../../../main";

.social-media
{
  display: flex;
  width: 100px;
  justify-content: space-between;


  a
  {
    color: $color-main-cold;
    cursor: pointer;

    &:hover
    {
      color: $color-main-warm;
    }
  }


}




