@import "../../main";

.contact
{
  position: relative;
  padding-bottom: 100px;
  margin-top: 70px;

  .contact-header
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 30px 100px;

    .contact-header-logo
    {
      height: 77px;
      width: 168px;
      background: url("/assets/logo.png") center/cover;
      margin: 10px;
      line-height: 3rem;
      z-index: 2;
    }

    .contact-header-title
    {
      font-family: $font-logo;
      font-size: 3.5rem;
      font-weight: 400;
      color: $color-main-warm;
    }
  }

  .contact-header::before
  {
    content: "";
    display: block;
    width: 265px;
    height: 350px;
    background: $color-main-cold;
    z-index: 1;
    position: absolute;
    top: -30px;
    left: 60px;
  }

  .contact-content-address
  {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .contact-content-address-img
  {
    height: 311px;
    width: 470px;
    background: url("/assets/contact.jpg") center/cover;
    z-index: 2;
  }

  .contact-content-address-data
  {

    h3 {
      font-weight: 600;
      color: $color-main-warm;
      line-height: 3.5rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      i
      {
        padding-right: 1rem;
        color: $color-main-cold;
      }
    }
  }

}
