@import "../../../main";


.lar-welcome-btns
{
  height: 430px;
  width: 60%;
  background: $color-main-cold;
  @include flex-center;
  margin-top: -50px;
  margin-bottom: 80px;
}

.lar-welcome-btns-content
{
  width: 100%;
  height: 60vh;
  @include flex-center;

  h2
  {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: $color-background;
    padding: 0;
  }

  .lar-content-form-btns
  {
    width: 60%;
    bottom: 90px;

    a{
      height: 50px;
      width: 300px;
    }
  }
}


