@import "../../../../main";


.basket-nav
{
  height: 45px;

  .basket-nav-menu
  {
    background: $color-semi-light-cold;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    li
    {
      background: $color-light-cold;
      height: 100%;
      width: 33%;

      p
      {
        font-size: 1.2rem;
        font-weight: 600;
        height: 100%;
        color: $color-background;
        @include flex-center;
      }
    }
  }

  .active
  {
    background: $color-semi-light-cold;
    color: $color-background;
  }

}