@import "../../../../main";

.lr
{
  height: 97px;
  color: $color-main-cold;
  background: $color-background;
  -webkit-box-shadow: inset 0 30px 40px -30px rgba($color-dark,0.70);
  -moz-box-shadow: inset 0 30px 40px -30px rgba($color-dark,0.70);
  box-shadow: inset 0 30px 40px -30px rgba($color-dark,0.70);

  .lr-container
  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .lr-user
    {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;

      i,h4
      {
        padding: 5px;
      }

      .lr-user-basket
      {
        padding-left: 10px;
        position: relative;
        width: 100px;

        .lr-user-basket-products
        {
          position: absolute;
          width: 1.4rem;
          height: 1.4rem;
          background: $color-main-warm;
          border-radius: 0.7rem;
          color: $color-background;
          @include flex-center;
          top: -15px;
          left: -12px;

          span
          {
            font-size: 0.75rem;
            text-align: center;
            padding-bottom: 0.1rem;
          }
        }
      }

      .lr-user-login
      {
        position: relative;

        .lr-user-login-link
        {
          color: $color-main-cold;
          cursor: pointer;

          &:hover
          {
            color: $color-main-warm;
          }
        }
      }

      a
      {
        color: $color-main-cold;
      }

      .lr-user-login-icon,
      .lr-user-basket-link-icon
      {
        cursor: pointer;
        padding-left: 20px;

        &:hover
        {
          color: $color-main-warm;
        }
      }
    }
  }
}