@import '../scss_main_settings/colors';
@import '../scss_main_settings/fonts';

html
{
  font-size: 15px;
}

body
{
  width: 100%;
  font-family: $font-base;
  font-weight: 400;
  background: $color-background;
  height: 100vh;
  letter-spacing: 0.05rem;
}

.container
{
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  height: 100%;
}

h3
{
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.05rem;
}

h4
{
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.05rem;
}


@mixin flex-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}