@import "../../../main";

@mixin product-info-details
{
  width: 300px;
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.products
{
  margin-top: 20px;

  .products-content
  {

    ul
    {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      flex-wrap: wrap;
    }

    .products-content-pages
    {
      @include flex-center;
      margin-top: 10px;

      li
      {
        font-size: 2rem;
        font-family: $font-base;
        color: $color-main-cold;
        padding: 10px;
        cursor: pointer;
        margin: 0 5px;
        border: 2px solid $color-main-cold;

        &.active
        {
          color: $color-main-warm;
        }

        &:hover
        {
          background: $color-light-cold;
        }
      }
    }
  }

  .product
  {
    margin: 10px;

    .product-name
    {
      color: $color-background;
      text-align: center;

      .product-name-id
      {
        font-size: 1.2rem;
        font-weight: 600;
      }
      .product-name-code
      {
        font-size: 1rem;
        font-weight: 400;
        padding-top: 5px;
      }


    }

    .product-img
    {
      background: $color-main-cold;
      width: 300px;
      height: 300px;
      padding: 18px 18px 5px 18px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;

      img
      {
        width: 264px;
        height: 234px;
        position: cover/center;
        cursor: pointer;
      }
    }

    .product-info
    {
      @include product-info-details;
      height: 50px;

      .product-info-price
      {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-main-cold;
        
        .label
        {
          transform:  rotate(90deg);
          margin-right: 15px;
        }
      }

      i
      {
        color: $color-main-cold;
      }

      .product-info-add-btn
      {
        cursor: pointer;

        &:hover
        {
          color: $color-main-warm;
        }
      }

    }

    .product-details
    {
      @include product-info-details;
      height: 10px;

      .product-details-quantity
      {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        color: $color-main-cold;

        h3
        {
          font-size: 1rem;
        }
      }
    }
  }

  .invisible-product
  {
    width: 300px;
    margin: 0 10px;
  }

}